/*
  Name: Justin Clayton

  This is the main CSS style document and contains all the rules to get a
  consistent look and feel for the web page design. The index.html page uses
  Bootstrap so some of the rules in this page are to modify Bootstrap default
  classes. Additionally, it defines the class rules for cards which contain the
  details for a store item. It styles the cart dialog box.
*/

/* HTML Selector Rules */
body {
  font-family: "Roboto Slab", monospace;
}

body, footer p, h3, #btn-container {
  margin: 0;
}

dialog {
  top: 100px;
  width: 75%;
  max-height: 50vw;
  overflow-y: scroll;
  padding-top: 25px;
  background-color: rgb(233, 229, 224);
  border: none;
  border-top: 10px solid rgb(175, 144, 144);
  z-index: 3;
}

dialog, footer {
  position: fixed;
}

dialog form, dialog form div, dialog form div section, footer {
  width: 100%;
}

dialog form button {
  margin: 0 10px;
}

dialog form div, #store-page > div {
  align-items: flex-start;
}

dialog form > div, #item-container {
  justify-content: space-evenly;
}

dialog form, dialog form div section {
  flex-direction: column;
}

dialog form, dialog form div section, #item-container {
  align-items: center;
}

dialog form div section {
  margin: 20px;
}

dialog form div section ul {
  width: 60%;
  max-height: 50vh;
  overflow-y: scroll;
}

em {
  font-size: 0.8rem;
}

footer {
  color: white;
  left: 0;
  bottom: 0;
}

footer p {
  padding: 5px 50px;
}

footer, header {
  background: linear-gradient(90deg, rgba(87, 68, 56, 1) 31%, rgb(153, 139, 122) 100%);
}

h2, h3, #btn-container {
  text-align: center;
}

header img {
  height: 35px;
  margin-right: 5px;
}

main {
  margin: 0 auto;
}

main, dialog form div section p {
  width: 80%;
}

nav a {
  font-size: 1.4rem;
  margin-left: 20px;
}

section {
  margin: 50px 0;
}

/* Class Rules */
.card {
  width: 300px;
  height: 460px;
  margin: 15px;
}

.card-text:nth-of-type(1) {
  height: 50px;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.jumbotron {
  padding: 0;
}

.jumbotron > div {
  background-image: url("./assets/bean-gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 175px;
  height: 400px;
}

.jumbotron > div > h2 {
  background-color: rgba(72, 62, 117, 0.952);
  color: rgb(230, 227, 212);
}

.jumbotron > article {
  font-size: 1.3rem;
  padding: 20px 34px 68px 34px;
}

.navbar-brand {
  font-size: 2.2rem;
}

.navbar-nav {
  flex-direction: row;
}

.selected {
  background-color: #7262b7;
}

/* ID Rules */
#about-page article p {
  text-indent: 50px;
}

#address {
  width: 300px;
}

#card-number {
  width: 225px;
}

#cart-btn {
  margin-right: 100px;
}

#cart-list {
  max-height: 500px;
}

#cvc {
  width: 65px;
}

#exp-day, #exp-month {
  width: 55px;
}

#heading {
  top: 0;
}

#heading, #store-page ul {
  position: sticky;
  z-index: 2;
}

#item-container {
  width: 85%;
  flex-wrap: wrap;
}

#name {
  width: 250px;
}

#payment-info {
  border-left: 2px solid rgb(175, 144, 144);
  padding-left: 15px;
}

#store-page ul {
  top: 215px;
  width: 15%;
}

#store-page ul li:hover {
  background-color: rgb(202, 190, 176);
}
